<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
  <div class="container">
    <div class="header clearfix">
      <!-- <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </nav> -->
      <h3 class="text-muted">Специально для <a target="_blank" href="https://apimarket.qiwi.com">Qiwi Api Contest</a></h3>
    </div>

    <div class="jumbotron">
      <h1 class="display-3">QiwiCalendar</h1>
      <p class="lead">Позволяет тара-лала</p>
      <p><a class="btn btn-lg btn-success" href="#" role="button">Войти с Google</a></p>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h2>Шаг №1</h2>
        <p>Авторизируйтесь в GoogleCalendar, чтобы получить доступ к календарю</p>
        <p><a class="btn btn-lg btn-success" href="/googleAuth" role="button">Войти с Google</a></p>
      </div>
      <div class="col-md-4">
        <h2>Шаг №2</h2>
        <p>Авторизируйтесь в Qiwi, чтобы иметь возможность оплачивать</p>
        <p><a class="btn btn-lg btn-success" href="/qiwiAuth" role="button">Войти с Qiwi</a></p>
      </div>
      <div class="col-md-4">
        <h2>Шаг №3</h2>
        <p>Создайте событие в календаре, например, "оплатить сотовый 89823454623", можете сделать регулярным</p>
        <p><a class="btn btn-lg btn-success" href="/crateEvent" role="button">Создать событие</a></p>
      </div>

      <footer class="footer">
        <p>&copy; QiwiCalendar 2017</p>
      </footer>

    </div>
    <!-- /container -->


    <script src="/jquery/dist/jquery.slim.min.js"></script>
    <!-- <script src="/bootstrap/js/popper.min.js"></script> -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
